# Database Configuration
POSTGRES_DB=zaalima_iam
POSTGRES_USER=postgres
DB_PASSWORD=your_secure_db_password
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# IAM Server Configuration
SERVER_PORT=8085
